Counting_smoothing_n-grams/*.py linguist-language=Python
Part-of-speech_tagging_HMM/*.py linguist-language=Python
Spell_checker/*.py linguist-language=Python
Top_20_informative_words/*.py linguist-language=Python
Word-sense_disambiguation/*.py linguist-language=Python

Counting_smoothing_n-grams/data/* linguist-detectable=false
Counting_smoothing_n-grams/*.save linguist-detectable=false
Part-of-speech_tagging_HMM/*.save linguist-detectable=false
Part-of-speech_tagging_HMM/*.docx linguist-detectable=false

